## **I. Perkenalan**

Nama  : Elang Cergas Pembrani

Notebook ini adalah notebook yang digunakan untuk melakukan uji inference pada model yang sudah dibuat pada notebook [data_modeling.ipynb](./data_modeling_inference).

## **II. Answer**

### **A. Data Inference**

Berikut adalah rincian data inference yang akan dilakukan prediksi credit score menggunakan model terbaik yang sudah dibuat.

|                      Kolom | Value                                                                              |
| -------------------------: | ---------------------------------------------------------------------------------- |
|                       `id` | `0x1602`                                                                           |
|              `customer_id` | `CUS_0xd40`                                                                        |
|                    `month` | `January`                                                                          |
|                     `name` | `Aaron Maashoh`                                                                    |
|                      `age` | `23`                                                                               |
|                      `ssn` | `821-00-0265`                                                                      |
|               `occupation` | `Scientist`                                                                        |
|            `annual_income` | `19114.12`                                                                         |
|    `monthly_inhand_salary` | `1824.8434`                                                                        |
|       `credit_history_age` | `89`                                                                               |
|      `total_emi_per_month` | `49.574947`                                                                        |
|        `num_bank_accounts` | `3`                                                                                |
|          `num_credit_card` | `4`                                                                                |
|            `interest_rate` | `3`                                                                                |
|              `num_of_loan` | `4`                                                                                |
|             `type_of_loan` | `['Auto Loan', 'Credit-Builder Loan',`<br/>` 'Personal Loan', 'Home Equity Loan']` |
|      `delay_from_due_date` | `3`                                                                                |
|   `num_of_delayed_payment` | `7`                                                                                |
|     `changed_credit_limit` | `11.27`                                                                            |
|     `num_credit_inquiries` | `4`                                                                                |
|               `credit_mix` | `Good`                                                                             |
|         `outstanding_debt` | `809.98`                                                                           |
| `credit_utilization_ratio` | `26.82262`                                                                         |
|    `payment_of_min_amount` | `No`                                                                               |
|  `amount_invested_monthly` | `80.4153`                                                                          |
|        `payment_behaviour` | `High_spent_Small_value_payments`                                                  |
|          `monthly_balance` | `312.49408`                                                                        |

### **B. Import Libraries**

In [1]:
# import libraries
import dill as pickle
from ast import literal_eval  # Digunakan oleh fungsi pd_col_list_to_encoded_pre yang diimport
import pandas as pd

### **C. Import Model**

File yang akan di-import ke dalam notebook ini untuk melakukan prediksi menggunakan model terbaik yang sudah dibuat adalah sebagai berikut:

| File                                                       | Format   | Deskripsi                                                 |
| ---------------------------------------------------------- | -------- | --------------------------------------------------------- |
| [`models_best.pkl`](./models_best.pkl)                       | `dill (pickle)` | Model terbaik yang dipilih |
| [`func_pd_col_list_to_encoded_pre.pkl`](./func_pd_col_list_to_encoded_pre.pkl) | `dill (pickle)` | Fungsi dependensi model (feature engineering pipeline) |
| [`func_pd_col_list_to_encoded.pkl`](./func_pd_col_list_to_encoded.pkl) | `dill (pickle)` | Fungsi dependensi model (feature engineering pipeline) |
| [`func_pd_col_list_to_encoded_type_of_loan.pkl`](./func_pd_col_list_to_encoded_type_of_loan.pkl) | `dill (pickle)` | Fungsi dependensi model (feature engineering pipeline) |

In [2]:
#load model
with open('./deployments/src/models_best.pkl', 'rb') as file_1:
    model = pickle.load(file_1)

# with open('./deployments/src/func_pd_col_list_to_encoded_pre.pkl', 'rb') as file_2:
#     pd_col_list_to_encoded_pre = pickle.load(file_2)

# with open('./deployments/src/func_pd_col_list_to_encoded.pkl', 'rb') as file_3:
#     pd_col_list_to_encoded = pickle.load(file_3)

# with open('./deployments/src/func_pd_col_list_to_encoded_type_of_loan.pkl', 'rb') as file_4:
#     pd_col_list_to_encoded_type_of_loan = pickle.load(file_4)

### **D. Definisi Data Inference**

Data inference ada `2` dalam bentuk `list dictionary`, yang kemudian diubah menjadi _DataFrame_ dengan `2` baris data.

In [3]:
data_inf_list = [
    # User 1
    {
        'id': '0x1602',
        'customer_id': 'CUS_0xd40',
        'month': 'January',
        'name': 'Aaron Maashoh',
        'age': 23,
        'ssn': '821-00-0265',
        'occupation': 'Scientist',
        'annual_income': 19114.12,
        'monthly_inhand_salary': 1824.8434,
        'credit_history_age': 89,
        'total_emi_per_month': 49.574947,
        'num_bank_accounts': 3,
        'num_credit_card': 4,
        'interest_rate': 3,
        'num_of_loan': 4,
        'type_of_loan': "['Auto Loan', 'Credit-Builder Loan', 'Personal Loan', 'Home Equity Loan']",
        'delay_from_due_date': 3,
        'num_of_delayed_payment': 7,
        'changed_credit_limit': 11.27,
        'num_credit_inquiries': 4,
        'credit_mix': 'Good',
        'outstanding_debt': 809.98,
        'credit_utilization_ratio': 26.82262,
        'payment_of_min_amount': 'No',
        'amount_invested_monthly': 80.4153,
        'payment_behaviour': 'High_spent_Small_value_payments',
        'monthly_balance': 312.49408,
    }
]

data_inf = pd.DataFrame(data_inf_list)
data_inf = data_inf.set_index('id')
data_inf.T

id                                                                   0x1602
customer_id                                                       CUS_0xd40
month                                                               January
name                                                          Aaron Maashoh
age                                                                      23
ssn                                                             821-00-0265
occupation                                                        Scientist
annual_income                                                      19114.12
monthly_inhand_salary                                             1824.8434
credit_history_age                                                       89
total_emi_per_month                                               49.574947
num_bank_accounts                                                         3
num_credit_card                                                           4
interest_rate                                                             3
num_of_loan                                                               4
type_of_loan              ['Auto Loan', 'Credit-Builder Loan', 'Personal...
delay_from_due_date                                                       3
num_of_delayed_payment                                                    7
changed_credit_limit                                                  11.27
num_credit_inquiries                                                      4
credit_mix                                                             Good
outstanding_debt                                                     809.98
credit_utilization_ratio                                           26.82262
payment_of_min_amount                                                    No
amount_invested_monthly                                             80.4153
payment_behaviour                           High_spent_Small_value_payments
monthly_balance                                                   312.49408

### **E. Proses Prediksi**

Proses prediksi harga cukup dengan memanggil method `predict()` pada model yang sudah dibuat.

In [4]:
y_pred_inf = model.predict(data_inf)

data_inf_result = data_inf.copy()
data_inf_result['predict'] = y_pred_inf

display(data_inf_result[['predict']])

       predict
id
0x1602       1

### **F. Kesimpulan**

> Dari hasil di atas, terlihat bahwa hasil prediksi menggunakan model terbaik adalah `1` _Standard Credit Score_.